.header{
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: 'Source Sans 3', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    padding-left: 18px;
    padding-right: 18px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
}


.logo-container{
    align-items: center;
    
    display: flex;
    cursor: pointer;
    margin: 0;
}
.header-logo-name{
    display: block;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
    color: rgb(51, 51, 51);
    
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.header-logo-name:hover{
    color: rgb(76, 104, 198);
}

.header-link {
    
    color: rgb(51, 51, 51);
    display: inline-block;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 26.88px;
    padding-left: 16.128px;
    padding-right: 16.128px;
    padding-top: 26.88px;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: left;
    text-decoration-color: rgb(51, 51, 51);
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.header-link:hover {
    color: rgb(76, 104, 198);
}

.header-link:active {
    color: #003d7a; /* Even darker blue when button is pressed */
}

.tab-section {
    
    display: block;
    font-size: 15px;
    margin: 0;
    padding: 0;
    height: 75px;
    gap: 15px; /* Space between buttons */
}

.header-links{
    
    display: flex;
    list-style-type: disc;
    padding: 0;
    margin: 0;
    height: 75px;
}

.header-link-wrapper{
    
    display: list-item;
    height: 75px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    text-align: left;


}

.tab-section .button {
    /* This will apply button styles from Button.css */
    /* Additional styles for buttons in the header if needed */
}