#home{
    /* margin-top: 100px;
    height: 80vh; */

    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    padding-bottom: 200px;
}

.home-content{
    max-width: 1000px;
    font-family: 'Source Sans 3', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;    
    text-align: center;
}

.home-title{
    display: block;
    color: rgb(17, 17, 17);
    font-size: 55px;
    font-weight: 800;
    letter-spacing: 3px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
}

.home-description{
    
    display: block;
    height: auto;
}

.home-description-text{
    
    display: block;
    color: rgb(51, 51, 51);
    font-size: 20px;
    text-align: center;
    width: auto;
}

.project-button{
    display: block;
    text-align: center;
    margin-top: 100px;
}

.project-link{
    background-color: rgb(120, 67, 233);
    color: white;
    display: inline-block;
    font-size: 17px;
    font-weight: 800;
    letter-spacing: 1px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: transform 0.3s ease;
    line-height: 27px;
    padding-bottom: 13.44px;
    padding-left: 71.68px;
    padding-right: 71.68px;
    padding-top: 13.44px;
    cursor: pointer;
    text-decoration: none;
}

.project-link:hover{
    transform: scale(1.1);
}