body{
  margin: 0;
  font-family: 300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: rgb(51, 51, 51);
  background: rgb(245, 245, 245);
  overflow: auto;
  display: block;
}


.app-container{
  display: flex;
  flex-direction: column;
}

section {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 300px; /* Prevents sections from getting too narrow */
  padding: 20px; /* Adds padding inside each section */
}
